.createPort {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createPort h1 {
    font-size: 4rem;
    line-height: 4.6rem;
    font-weight: 500;
    color: rgb(10, 11, 13);
    text-align: center;
    margin-bottom: 1rem;
}

.createPort h2 {
    font-size: 1.6rem;
    line-height: 1.84rem;
    color: rgb(91, 97, 110);
    margin-bottom: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.createPort img {
    width: 100%;
    margin-bottom: 3rem;
}