.createPort {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.createPort h1 {
    font-size: 4rem;
    line-height: 4.6rem;
    font-weight: 500;
    color: rgb(10, 11, 13);
    text-align: center;
    margin-bottom: 1rem;
}

.createPort h2 {
    font-size: 1.6rem;
    line-height: 1.84rem;
    color: rgb(91, 97, 110);
    margin-bottom: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.createPort h2 span {
    color: rgb(6, 103, 208);
}

.illus {
    width: 100%;
    margin-bottom: 3rem;
}

.propImg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* background-color: red; */
    border-radius: 50%;
    box-shadow: 3.4px 6.7px 6.7px hsl(0deg 0% 0% / 0.4);
}

.property {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.property h3 {
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}