.trusted {
  text-align: center;
  padding: 0 2rem;
}

.trusted {
  margin-bottom: 3rem;
}

.trusted h1 {
  font-size: 4rem;
  line-height: 4.6rem;
  font-weight: 500;
  color: rgb(10, 11, 13);
  text-align: center;
  margin-bottom: 1rem;
}

.trusted h2 {
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: rgb(91, 97, 110);
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5rem;
}

.secure {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secure:last-child {
  margin-bottom: 6rem;
}

.secure h3 {
  font-size: 2rem;
  line-height: 2.3rem;
  color: rgb(10, 11, 13);
  margin-bottom: 1rem;
  font-weight: 500;
}

.secure h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgb(91, 97, 110);
  margin-bottom: 1.1rem;
  font-weight: 400;
}

.secure a {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: rgb(0, 82, 255);
}

.cryptStats {
  background-color: rgb(0, 82, 255);
  padding: 3rem 0;
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  margin-bottom: 3.5rem;
}

.cryptStat h5 {
  font-size: 5.6rem;
  line-height: 4.8rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
}

.cryptStat h6 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: white;
}
